# Telegram Bot Configuration
BOT_TOKEN=
ADMIN_ID=

# Wedding Details
WEDDING_DATE=Saturday, April 18, 2026
VENUE_NAME=Kuriftu Kale Heywet Church Holistic Center, Bishoftu
GOOGLE_MAPS_URL=https://maps.app.goo.gl/LgznwxbgGh1hJzGY7
